body{
  font-family: "Roboto", sans-serif;
}
.cart-button{
  background-color:  #5d65ff;
  color: #fff;
  margin-left: 10px;
}
.cart-icon{
  font-size: 23px;
  color: #fff;
}
.text-color{
  color: #5d65ff;
}